@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,900;1,900&family=Roboto:ital,wght@0,300;1,300&display=swap');
*{
    /* Removes default spacing */
    margin: 0;
    padding: 0;

    /* this makes the padding and border included in the total width and height of the elements */
    box-sizing: border-box;
}
body{ font-family: "Open sans";
background-color:rgb(255 184 74) ;}

img {
    max-width: 100%;
}

.article_title{
    text-align:center;
    font-size: 3.3rem;
    font-weight: 999;
    padding: 1% 2.3% 2% 2.3%;
    
}

.article_para{
    /* text-align:center; */
    font-size: 1.51rem;
    font-weight: 500;
    margin: 0% 3% 2.6% 2.5%;
}

.slogan{
    color: white;
    background-color: rgb(54 186 146) ;
    text-align:center;
    padding: 2% 1.6% 2% 1.6%;
    margin-top: -1%;
    p{
        font-size: 1.3rem;
        font-weight: 450;
    }
}


.article{
    background-color: rgb(255 184 74);
}

.article_mid_para{ padding: 0.9% 0.9% 1% 5%;
    font-size: 1.51rem;
    font-weight: 500;}

.article_end_para{
    font-size: 1.51rem;
    font-weight: 500;
    margin: 0% 3% 2.6% 2.5%;}

.p1{background-color:rgb(255 137 74);
    border-radius: 0.9em;
    padding: 0.5rem;}
.p2{background-color:rgb(255 137 74);
    border-radius: 0.9em;
    padding: 0.5rem;}
.p3{background-color:rgb(255 137 74);
    border-radius: 0.9em;
    padding: 0.5rem;}
.p4{background-color:rgb(255 137 74);
    border-radius: 0.9em;
    padding: 0.5rem;}

table{margin-bottom: 1em;
margin-top: 1em;}


.point1{
    color: white;
    background-color:rgb(255 137 74);
    border-radius: 50%;
    padding:0.05em 0.5em 0.1em 0.5em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 800;
    height: 3.7rem;
}
.point2{
    color: white;
    background-color:rgb(255 137 74);
    border-radius: 50%;
    padding:0.05em 0.5em 0.1em 0.5em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 800;
    height: 3.7rem;
}
.point3{
    color: white;
    background-color:rgb(255 137 74);
    border-radius: 50%;
    padding:0.05em 0.5em 0.1em 0.5em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 800;
    height: 3.7rem;

}
.point4{
    color: white;
    background-color:rgb(255 137 74);
    border-radius: 50%;
    padding:0em 0.5em 0% 0.5em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 800;
    height: 3.7rem;
}


.first_tr{
    max-width: 1000px;
    display: flex;
    flex-direction:row;
    gap: 0.4em;
    padding-bottom: 0.4em;
    padding-right: 1.5em;
}


.second_tr{
    max-width: 1000px;
    display: flex;
    flex-direction:row;
    gap: 0.4em;
    padding-bottom: 0.4em;
    padding-right: 1.5em;
}

.third_tr{
    max-width: 1000px;
    display: flex;
    flex-direction:row;
    gap: 0.4em;
    padding-bottom: 0.4em;
    padding-right: 1.5em;
}

.fourth_tr{
    max-width: 1000px;
    display: flex;
    flex-direction:row;
    gap: 0.4em;
    padding-bottom: 0.4em;
    padding-right: 1.5em;
}